

@media (min-width: 0px) {
    // .nav{
    //     // top: 0;
    //     // position: fixed;
    // }
    .nav-left {
        display: none;
    }
    .nav-logo{
        display: none;
    }
    .nav-logo-left{
        display: none;
    }
    .nav-center{
        margin-right: 15px;
    }
    .nav-logo-mid{
        display: block;
        height: 45px;
    }
    .nav-list {
        display: none;
    }
    .nav-links {
        display: none;
    }
    .nav-download{
        display: none;
    }
    .hero-container{
        height: 75%;
        @include flex-center-top;
    }

    .section-content-wrapper{
        overflow: hidden;
    }
    /////////////SKILLS///////////////////
    .fixedH-900{
        height: auto;
    }
    .btn-round-sm{
        margin: 15px 0;
    }
    .logos-container{
        margin: 4px;
    }
    .skill-name{
        position: absolute;
        display: none;
    }
    .currently-learning{
        display: none;
    }
 
    /////////////EXPERIENCE///////////////////
    .job-logo{
        display: none;
    }
    .job-desc{
        margin-left: 0;
    }
    
    .section-text, .quote-carousel-cell{
        padding: 0px 25px;
    }
    .section-content{
        padding: 0px 10px;
    }
    .dave-silho{
        display: none;
    }
    .carousel-cell {
        width: 100%;
        
    }
    .job-mini-logo{
        display: block;
    }
    .profile-circle{
        height: 80px;
        width: 80px;
    }
    .quote{
        font-size: 18px;
    }
    .quote::before{
        font-size: 50px;
        left: -42px;
    }
    .quote::after{
        font-size: 50px;
        right: -32px;
    }
    //////////CONTACT//////////

    .contact-info-container{
        display: none;
    }
    .mobile-container{
        display: flex;
    }
    .brackets{
        font-size: 2.2em;
        margin: 10px 0 40px 0;
    }
    .brackets:after{
        font-size:  60px;
    }
    .brackets:before{
        font-size:  60px;
    }
    .social-links{
        display: none;
    }
    .social-links-mobile{
        display: flex;;
    }

    ////////////PROJECT MODAL////////////
 
    .mobile-project-modal{
        display: flex;
    }
    .project-modal{
        display: none;
    }
    .logos-container-sm img{
        height: 15px;
    }

}

@media (min-width: 640px) {
    // .nav{
        //     bottom: 0;
        //     top: auto;
        //     // position: absolute;
        // }
        
        .nav-logo-left {
            display: block;
        }
        .nav-center{
            margin-right: 0;
        }
        .nav-logo-mid{
            display: none;
            height: 60px;
        }
        
        .nav-download{
            display: flex;
        }
        .hero-container{
            height: 85%;
        }

        .section-text, .quote-carousel-cell{
            padding: 0px 75px;
        }
        .section-content{
            padding: 0px 50px;
        }
        .carousel-cell {
            width: calc(100% / 2);
            
        }
        .quote{
            font-size: 20px;
        }
        /////////SKILLS/////////////
        .fixedH-900{
            height: 1050px;
        }
        .btn-round-sm{
            margin: 15px;
        }
        .logos-container{
            margin: 12px;
        }
        .skill-name{
            position: relative;
            display: flex;
        }
          //////////CONTACT//////////

        .contact-info-container{
            display: inline-block;
        }
        .mobile-container{
            display: none;
        }
        .brackets{
            font-size: 3.8em;
            margin: 50px 0;
        }
        .brackets:after{
            font-size:  90px;
        }
        .brackets:before{
            font-size:  90px;
        }
        .social-links{
            display: block;
        }
        .social-links-mobile{
            display: none;
        }
        
    }
    
    @media (min-width: 1000px){
        // .nav{
            //     bottom: 0;
            //     top: auto;
            //     position: absolute;
            // }
            .nav-logo {
                display: block;
            }
            .nav-logo-left {
                display: none;
            }
            
            
            .nav-list{
                display: flex;
            }
            .nav-links {
                display: block;
            }
            
            .hero-container{
                height: 100%;
            }

            .section-text, .quote-carousel-cell{
                padding: 0px 200px;
            }
            .section-content{
                padding: 0px 100px;
            }
            .profile-circle{
                height: 100px;
                width: 100px;
            }
            .quote{
                font-size: 24px;
            }
            .quote::before{
                font-size: 72px;
                left: -70px;
                
            }
            .quote::after{
                font-size: 72px;
                right: -55px;
            }
            ///////////SKILLS/////////////
            .fixedH-900{
                height: 900px;
            }
///////////////////PROJECT MODAL/////////////

         
            .mobile-project-modal{
                display: none;
            }
            .project-modal{
                display: flex;
            }
           
            
        }
        @media (min-width: 1100px){
            .dave-silho{
                display: block;
            }
            .carousel-cell {
                width: calc(100% / 3);
            }
            .job-logo{
                display: block;
            }
            .job-desc{
                margin-left: 75px;
            }
            .job-mini-logo{
                display: none;
            }
            .currently-learning{
                display: flex;
            }
            .section-content-wrapper{
                overflow: visible;
            }
            .logos-container-sm img{
                height: 28px;
            }
             
        }

        
@media (min-width: 1400px){
    .section-text, .quote-carousel-cell{
        padding: 0px 400px;
    }
    .section-content{
        padding: 0px 400px;
    }
    .logos-container-sm img{
        height: 40px;
    }
}

@media (min-width: 1800px){
    .section-text, .quote-carousel-cell{
        padding: 0px 600px;
    }

}

@media (min-height: 0px){
    .bottom-section-2{
        display: none;
    }
}
@media (min-height: 680px){
    .bottom-section-2{
        display: block;
    }
}
