body.open{
    overflow: hidden;
  
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $brand-gradient;
    z-index: 1500;
}
.overlay-warm{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fc466b, #3f5efb);
    z-index: 1520;
}

.overlay-huge{
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -25%);
    transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}
.overlay-huge.open{
    opacity: 0.75;
    visibility: visible;
    transform: translate(0, 0);
    transition: opacity 0.5s, transform 0.5s;
}
.project-modal.open{
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    transition: opacity 0.5s, transform 0.5s;
}
.mobile-project-modal.open{
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    transition: opacity 0.5s, transform 0.5s;
}
.project-modal{
    padding: 20px;
    // overflow: hidden;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    max-height: calc(100% - 100px);
    right: 0;
    bottom: 0;
    width: 70%;
    height: 864px;
    background: url('../images/backgrounds/pw_maze_black_2X.png') left top repeat;
    border-radius: $border-radius-card;
    box-shadow: $card-shadow;
    z-index: 1501;
    display: flex;
    
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -25%);
    // transform: translate(-50%, -50%);
    transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
}

.mobile-project-modal{
    overflow: hidden;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    max-height: calc(100% - 100px);
    right: 0;
    bottom: 0;
    width: 90%;
    height: 87%;
    background: url('../images/backgrounds/pw_maze_black_2X.png') left top repeat;
    border-radius: $border-radius-card;
    box-shadow: $card-shadow;
    z-index: 1501;
    display: flex;
    
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -25%);
    // transform: translate(-50%, -50%);
    transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
   
}

.modal-content{
    position: relative;
    width: 100%;
    height: 100%;
    .project-media-container{
        width: 100%;
        // height: 100%;
        // padding-bottom: 56.25%;
        position: relative;
        // background: white;
        // overflow: hidden;
        .carousel-media-cell{

            iframe{
                position: absolute;
                width: 100%;
                height: 100%;
            }
            video, img{
                width: 100% !important;
                height: auto !important;
            }
           
        }
    }
    .project-sidebar{
        color: gray;
        font-size: 12px;
        width: 100%;
        height: 100%;
        background: $brand-gray;
        padding: 45px 20px 0 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    
        
    }

    .bottom-section{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 15px 0 15px;
    }
    .bottom-section-2{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 36px 0 36px;
    }
    .mobile-project-sidebar{
        width: 100%;
        height: 100%;
        padding: 0px 15px 0 15px;
      
        h2{
            font-size: 1.8em;
            margin-left: 15px;
        }
        h3{
            font-size: 1.1em;
            margin-left: 15px;
        }
        p{
            font-size: 16px;
            margin-left: 15px;
        }
        .mobile-sidebar-section{
            width: 100%;
            margin-bottom: 20px;
        }
    
        
    }
 
    
}
        .sidebar-section{
            width: 100%;
            margin-bottom: 30px;
        }
// .project-container{
//     position: relative;
//     width: 100%;
//     height: 100%;
// }



//Gaussian BLUR?! can't get it to work
.blur-bg{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
    -webkit-filter: blur(10px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'3\'/></filter></svg>#blur");
    filter: blur(10px);
}
.blur-bg.open{
    opacity: 0.5;
    visibility: visible;
    transition: opacity 0.5s;
}

.no-scroll {
    overflow: hidden;
}




/////RESUME MODAL//////////
.trigger-resume{

}

.resume-modal.open{
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    transition: opacity 0.5s, transform 0.5s;
}
.resume-modal{
    padding: 20px;
    // overflow: hidden;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 522px;
    background: url('../images/backgrounds/pw_maze_black_2X.png') left top repeat;
    border-radius: $border-radius-card;
    box-shadow: $card-shadow;
    z-index: 1521;
    vertical-align: middle;
    
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -25%);
    transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
    .resume-content{
        width: 100%;
        height: 86%;
        position: relative;
        top: 63px;

    }
    h3{
        margin-bottom: 0;
    }
    img{
        position: absolute;
        top: -56px;
        height: 130px;
        border-radius: $border-radius-cir;
    }
}

.resume-list{
    list-style: none;
    font-size: $font-size-h5;
    li{
        margin-bottom: 5px;
    }
}

.modal-section{
    width: 100%;
    // margin-bottom: 30px;
    a{
        width: 100%;
    }
}