section{
    position: relative;
    overflow: visible;

    .section-content-wrapper{
        width: 100%;
        padding: 100px 15px;

        .section-text{
            width: auto;
        }
        .section-content{
            width: 100%;
            margin: 73px 0;
            //THIS ONE I WAS WORKING ON (Fix Projects section to make it Flex-oriented and RESPONSIVE)
            flex-wrap: wrap;
        }
    }
}

.black-text{
    color: black;
}

//Backgrounds
.bg-black{
    background: $brand-black;
}
.bg-white-paper{
    background: url('../images/backgrounds/white_paper_texture.jpg') no-repeat center center;
}
.bg-gradient-paper{
    background: url('../images/backgrounds/gradient_white_background.png') no-repeat center center;
}



.rip-separator{
    width: 100%;
}

.rip-abs-top{
    position: absolute;
    top: 0;
}
.rip-abs-bottom{
    position: absolute;
    bottom: 0;
}
.rip-hero-abs-bottom{
    position: absolute;
    bottom: 0;
}

.dave-silho{
    position: absolute;
    bottom: -50px;
    left: 65.10416666%;
    height: 600px;
    z-index: 2;
}
            


.project-card{
    width: 250px;
    height: 450px;
    border-radius: $border-radius-card;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    // margin-right: 66px;
    overflow: hidden;
    position: relative;

    .project-thumbnail{
        width: 100%;
        height: 100%;
        // background: url('../images/backgrounds/gradient_white_background.png') no-repeat center center;
        background: black;
        background-size: cover;
    }
    .card-info-wrapper{
        overflow: hidden;
        z-index: 1;
        height: 100%;
        position: relative;
        .card-info{
            padding: 0 10px;
            position: relative;
            top: 76.5%;
            text-align: center;
            h4{
                color: $brand-black;
            }
            p{
                color: $brand-black;

            }
        }
    }
    .card-info-wrapper::before{
        content: '';
        width: 100%;
        height: 32%;
        background: lightgray;
        position: absolute;
        bottom: -9px;
        left: 0;
        transform: skewY(-4.2deg);

    }
}


.card-wrapper{
    @include flex-center-center;
    overflow: visible;
    
}


.bg-splash-1{
    background: url('../images/watercolor/splash1-opac.png') no-repeat center center;
    transform: scale(1,1);
    transition: all 1.5s ease;
}
.bg-splash-2{
    background: url('../images/watercolor/splash2-opac.png') no-repeat center center;
    transform: scale(1,1);
    transition: all 1.5s ease;
}
.bg-splash-3{
    background: url('../images/watercolor/splash3-opac.png') no-repeat center center;
    transform: scale(1,1);
    transition: all 1.5s ease;
}
.bg-splash-4{
    background: url('../images/watercolor/splash4-opac.png') no-repeat center center;
    transform: scale(1,1);
    transition: all 1.5s ease;
}

.bg-splash-1:hover{
    background: url('../images/watercolor/splash1-color.png') no-repeat center center;
    transform: scale(1.05,1.05);
    transition: all 1.5s ease;
}
.bg-splash-2:hover{
    background: url('../images/watercolor/splash2-color.png') no-repeat center center;
    transform: scale(1.05,1.05);
    transition: all 1.5s ease;
}
.bg-splash-3:hover{
    background: url('../images/watercolor/splash3-color.png') no-repeat center center;
    transform: scale(1.05,1.05);
    transition: all 1.5s ease;
}
.bg-splash-4:hover{
    background: url('../images/watercolor/splash4-color.png') no-repeat center center;
    transform: scale(1.05,1.05);
    transition: all 1.5s ease;
}


.bg-splash-1:hover .project-card{
    transform: scale(1.05,1.05);
    transition: all 1s;
  
}
.bg-splash-2:hover .project-card{
    transform: scale(1.05,1.05);
    transition: all 1s;

}
.bg-splash-3:hover .project-card{
    transform: scale(1.05,1.05);
    transition: all 1s;
}
.bg-splash-4:hover .project-card{
    transform: scale(1.05,1.05);
    transition: all 1s;
  
}