section{
    position: relative;
    overflow: visible;
    .section-text{
        @include flex-top-center-column;
        width: 100%;
        margin-top: 73px;
        padding: $section-text-padding;
    }
    .section-content{
        @include flex-space-between;
        width: 100%;
        margin-top: 73px;
        padding: $section-content-padding;
    }
}

.section-1{
    width: 100%;
    height: 300px;
    // background: url('../images/backgrounds/x-color-bg.jpg') no-repeat center center;
    background: black;

    h3{
        
    }
    p{

    }
}
.section-2{
    width: 100%;
    height: 800px;
    background: url('../images/backgrounds/white_paper_texture.jpg') no-repeat center center;
}
.section-3{
    width: 100%;
    height: 800px;
    // background: url('../images/backgrounds/x-color-bg.jpg') no-repeat center center;
    background: black;
}
.section-4{
    width: 100%;
    height: 600px;
    background: url('../images/backgrounds/gradient_white_background.png') no-repeat center center;
}

.section-5{
    width: 100%;
    height: 800px;
    // background: url('../images/backgrounds/x-color-bg.jpg') no-repeat center center;
    background: black;
}

.section-6{
    width: 100%;
    height: 800px;
    background: url('../images/backgrounds/white_paper_texture.jpg') no-repeat center center;

}

.rip-separator{
    width: 100%;
}

.rip-abs-top{
    position: absolute;
    top: 0;
}
.rip-abs-bottom{
    position: absolute;
    bottom: 0;
}
.rip-hero-abs-bottom{
    position: absolute;
    bottom: 0;
}

.dave-silho{
    position: absolute;
    bottom: -50px;
    left: 65.10416666%;
    height: 600px;
    z-index: 2;
}


.project-card{
    width: 250px;
    height: 450px;
    border-radius: $border-radius-card;
    // margin-right: 66px;
    overflow: hidden;
    position: relative;
    .project-thumbnail{
        width: 100%;
        height: 100%;
        background: url('../images/backgrounds/gradient_white_background.png') no-repeat center center;
        background-size: cover;
    }
    .card-info-wrapper{
        overflow: hidden;
        z-index: 1;
        height: 100%;
        position: relative;
        .card-info{
            padding: 10px;
            position: relative;
            top: 76.5%;
            text-align: center;
            h4{
                color: $brand-black;
            }
            p{
                color: $brand-black;

            }
        }
    }
    .card-info-wrapper::before{
        content: '';
        width: 100%;
        height: 32%;
        background: lightgray;
        position: absolute;
        bottom: -9px;
        left: 0;
        transform: skewY(-4.2deg);

    }
}
