#footer{
    width: 100%;
    padding: 35px 0 35px 0;
    background: url('../images/backgrounds/pw_maze_black_2X.png') left top repeat; 
}

.footer-logo{
     margin: 15px auto 35px;
     width: 76px;
}