.projects-carousel {
    margin-top: 75px;
    margin-bottom: 50px;
  }
.project-media-carousel{
    // margin-top: 75px;
    // margin-bottom: 50px;
    width: 100%;
    // max-height: 550px;
    margin-bottom: 0px;
}

.carousel-cell {
//   width: 33%;
  height: 600px;
}

.carousel-media-cell {
  width: 100%;
  height: auto;
}

.flickity-prev-next-button{
  width: 35px !important;
  height: 35px !important;
}
