 <nav class="nav">
    <div class="nav-left">
        <img class="nav-logo" src="./images/logos/dave-logo-02.svg">
        <img class="nav-logo-left" src="./images/logos/dave-logo-03.svg">
        <img class="nav-logo-left" src="./images/logos/dave-logo-04.svg">
    </div>

    <div class="nav-center">
        <img class="nav-logo-mid" src="./images/logos/dave-logo-03.svg">
        <img class="nav-logo-mid" src="./images/logos/dave-logo-04.svg">
        <ul class="nav-list">
            <a class="nav-links">
                <li>Skills</li>
            </a>
            <a class="nav-links">
                <li>Experience</li>
            </a>
            <a class="nav-links">
                <li>Projects</li>
            </a>
            <a class="nav-links">
                <li>Testimonials</li>
            </a>
            <a class="nav-links">
                <li>Contact</li>
            </a>
        </ul>
    </div>

    <div class="nav-right">
            <button class="btn-round btn-facebook nav-download"><i class="icon-btn-long material-icons">cloud_download</i> My Resume</button>
            <i class="sidebar-ham material-icons">menu</i>
    </div>
</nav> 