<div class="resume-modal flex-top-center-column">
    <img src="./images/photoshop/dave-profile.png">
    <div class="modal-content resume-content flex-space-between flex-column">
        <div class="modal-section flex-top-center-column">
            <h3>David Barrett</h3>
            <p>dbarrett24@gmail.com</p>
            <p>(303)-803-2553</p>
        </div>
        <ul class="resume-list modal-section flex-top-center-column">
            <li>Web Development</li>
            <li>Design</li>
            <li>Marketing</li>
            <li>Video Animation</li>
        </ul>
        <div class="modal-section flex-top-center-column">
            <!-- <div class="resume-video">
                <video src="#" controls></video>
            </div> -->
            <button class="btn-square btn-sidebar btn-teal"><a href="https://www.linkedin.com/in/dave-barrett/"></a>LinkedIn Profile </a></button>
            <div class="modal-content mt15">
                <button class="btn-square btn-sidebar btn-teal">Download PDF Resume</button>
            </div>
        </div>
    </div>
</div>