body{
    background-color: $brand-black;
    color: $brand-white;
    // overflow-x: hidden;
}

a{
    text-decoration: none;
    outline: none;
    border: none;
}

img{
    display: block;
}
// a:visited{

// }

// a:hover{

// }