body{
    background-color: $brand-black;
    color: $brand-white;
    height: 100%;
    // overflow-x: initial;
}

a{
    text-decoration: none;
    outline: none;
    border: none;
    color: $brand-white;
}

img{
    display: block;
}
// a:visited{

// }

// a:hover{

// }


::selection {
  background: $brand-teal; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $brand-teal; /* Gecko Browsers */
}